body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #82c72e;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.menu-bar
{
text-align:center;
background-color: #000000;
}
.menu-bar ul
{
   display: inline-flex;
   color:floralwhite
}
.menu-bar ul li
{
    font-family: Impact;
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li:hover
{
    background: floralwhite;
    color: #000000;
    border-radius:3px;
}

section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: white;
}

p {
    color: #070707;
    line-height: 1.6;
}

.destination {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.destination-card {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.destination-card:hover {
    transform: scale(1.05);
}

.destination-image {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
